In [1]:
import pandas as pd
import numpy as np

In [116]:
df = pd.DataFrame(np.random.random((10, 8)))

level0 = ['Total Time including setup', 'Total Alignment time']
level1 = ['classic', 'classic-sp', 'recomp', 'recomp-sp']

index = pd.MultiIndex.from_product([level0, level1])
df.columns = index

df = df.reset_index().rename(columns={'index': 'SP_label'})

In [117]:
df.head()

  SP_label Total Time including setup                                 \
                              classic classic-sp    recomp recomp-sp
0        0                   0.175052   0.372950  0.894165  0.180737
1        1                   0.072796   0.850413  0.174199  0.035584
2        2                   0.209385   0.157660  0.734127  0.681543
3        3                   0.577305   0.589733  0.262833  0.835944
4        4                   0.529545   0.315421  0.369939  0.416867

  Total Alignment time
               classic classic-sp    recomp recomp-sp
0             0.754444   0.201594  0.691073  0.255805
1             0.866618   0.184453  0.295733  0.155332
2             0.554794   0.462432  0.142381  0.871224
3             0.915276   0.864874  0.972619  0.855165
4             0.631475   0.481034  0.047893  0.754874

In [121]:
dropped = df.drop(['SP_label', 'Total Time including setup'], axis=1, level=0)
grouped = dropped.groupby(level=0, axis=1).apply(lambda df: df.apply(lambda row: row.idxmax()[1], axis=1))
grouped.columns = pd.MultiIndex.from_product([['Best'], grouped.columns], names=['first', 'second'])
grouped

first                  Best
second Total Alignment time
0                   classic
1                   classic
2                 recomp-sp
3                    recomp
4                 recomp-sp
5                   classic
6                 recomp-sp
7                    recomp
8                 recomp-sp
9                 recomp-sp

In [122]:
pd.concat([df, grouped], axis=1)

  SP_label Total Time including setup                                 \
                              classic classic-sp    recomp recomp-sp
0        0                   0.175052   0.372950  0.894165  0.180737
1        1                   0.072796   0.850413  0.174199  0.035584
2        2                   0.209385   0.157660  0.734127  0.681543
3        3                   0.577305   0.589733  0.262833  0.835944
4        4                   0.529545   0.315421  0.369939  0.416867
5        5                   0.201799   0.149962  0.460148  0.892473
6        6                   0.184378   0.645253  0.989933  0.096620
7        7                   0.116360   0.663739  0.774550  0.605317
8        8                   0.581228   0.047517  0.850641  0.937776
9        9                   0.914108   0.224731  0.608376  0.717198

  Total Alignment time                                                Best
               classic classic-sp    recomp recomp-sp Total Alignment time
0             0.754444   0.201594  0.691073  0.255805              classic
1             0.866618   0.184453  0.295733  0.155332              classic
2             0.554794   0.462432  0.142381  0.871224            recomp-sp
3             0.915276   0.864874  0.972619  0.855165               recomp
4             0.631475   0.481034  0.047893  0.754874            recomp-sp
5             0.725665   0.342048  0.236826  0.371373              classic
6             0.498839   0.118565  0.586082  0.752443            recomp-sp
7             0.767736   0.043845  0.965853  0.739276               recomp
8             0.419430   0.787998  0.931895  0.945779            recomp-sp
9             0.251760   0.370841  0.054495  0.515863            recomp-sp

In [112]:
beer_df

      IPA  Maibock  Pale Ale
Name
John   10        5         4
Mary    8       10         4
Jane    3        6        10
Tony    5       10         5

In [114]:
beer_df = pd.DataFrame({
    'Name': ['John', 'Mary', 'Jane', 'Tony'],
    'IPA': [10, 8, 3, 5],
    'Maibock': [5, 10, 6, 10],
    'Pale Ale': [4, 4, 10, 5]
}).set_index('Name')

favorite_df = beer_df.apply(lambda row: row.idxmax(), axis=1).to_frame()
favorite_df.columns = ['Favorite']
favorite_df

      Favorite
Name
John       IPA
Mary   Maibock
Jane  Pale Ale
Tony   Maibock